
<div class="resources" id="resources">
	<div class="resource-titles disappear">
		<div class="column"></div>
		<div class="column"></div>
		<div class="column">
			<h2>Resources</h2>
		</div>
		<div class="column">
			<h2>Software</h2>
		</div>
	</div>
	<!-- new columns -->
	<div class="column"></div>
	<div class="column"></div>
	<div class="column">
		<h2 class="mobile-title">Resources</h2>
		{% for resource in page.resources %}
			{{ resource | markdownify }}
		{% endfor %}
	</div>
	<div class="column">
		<h2 class="mobile-title">Software</h2>
		{% for software in page.software %}
			{{ software | markdownify }}
		{% endfor %}
	</div>
</div>

<footer class="footer" id="">
	<div class="column">
		<p><a href="#top">Top</a></p>
	</div>
	<div class="column"></div>
	<div class="column"></div>
	<div class="column"></div>
</footer>