<div class="header" id="top">
	<div class="column">
		<h1>{{ page.title }}</h1>
		<h2>{{ page.year }}</h2>
		<h2><a href="http://teachinginter.net/reader/" target="_blank">Active Reader</a></h2>
		<h2>{{ page.location }}</h2>
		<h2>{{ page.contact }}</h2>
	</div>
	<div class="column">
		<h3>Students</h3>
		<ul>
			<li>Lucie Bole</li>
			<li>Keren Chen</li>
			<li>Iman Diarra</li>
			<li>Rebecca Emma Gill Clarke</li>
			<li>Nethra Gomatheswaran</li>
			<li>Saetbyeol Kwon</li>
			<li>Akira Lee</li>
			<li>Kate Leisly</li>
			<li>Leon Li</li>
			<li>Anh Mai</li>
			<li>Zachary Perkins</li>
			<li>Hanyu Tan</li>
			<li>Lilly Wang</li>
		</ul>
	</div>
	<div class="column">
		{% if site.collections.size > 3 %}
		{% comment %} 3 bc posts, day_0, and presentations all count as collections {% endcomment %}
			<h3>Table of Contents</h3>
			<ul>
				{% for collection in site.collections %}
			  	{% assign name = collection.label %}
			  	{% for day in site[name] %}
						{% if day.daytitle.size > 1 %}			
							<li><a href="#{{ name }}">{{ day.daytitle }}</a></li>
						{% endif %}
			  	{% endfor %}
			  {% endfor %}
			  <li><a href="#resources">Resources</a></li>
			</ul>
		{% endif %}
	</div>
	<div class="column">
		{{ page.content | markdownify}}
	</div>
</div>