<div class="header" id="top">
	<div class="column">
		<h1>{{ page.title }}</h1>
		<h2>{{ page.year }}</h2>
		<h2>{{ page.location }}</h2>
		<h2>{{ page.contact }}</h2>
	</div>
	<div class="column disappear"></div>
	<div class="column">
		{% if site.collections.size > 2 %}

			<h3>Table of Contents</h3>
			<ul>
				{% for collection in site.collections %}
			  	{% assign name = collection.label %}
			  	{% for day in site[name] %}
						{% if day.daytitle.size > 1 %}			
							<li><a href="#{{ name }}">{{ day.daytitle }}</a></li>
						{% endif %}
			  	{% endfor %}
			  {% endfor %}
			  <li><a href="#resources">Resources</a></li>
			</ul>
		{% endif %}
	</div>
	<div class="column">
		{{ page.content | markdownify}}
	</div>
</div>