---
---

// start content

#presentation{
  background-color: #000;
  color: #fff;

  header{
    position: fixed;
    top: 0;
    left: 0;
    padding-bottom: 1rem;
    border-bottom: 2px solid #fff;
    padding-left: 1rem;
    background-color: #000;
  }
  footer{
    position: fixed;
    bottom: 0;
    padding-bottom: 1rem;
    width: 100%;
    padding-left: 0.5rem;
    box-sizing: border-box;
    background-color: #000;
    h2{
      display: inline;
      margin: 0 0.5rem;
      padding-left: 0.3rem;
      text-align: center;
      &.current,
      &:hover{
        position: relative;
        cursor: pointer;
        background-color: #FFF8A0;
        color: #0134CA;
        /*border-radius: 50%;
        -webkit-border-radius: 50%;*/
      }
      &:hover{
        background-color: lightgray;
      }
    }
  }
  .slide_container{
    width: 100%;
    margin-top: 6.5rem;
    margin-bottom: 4rem;
    background-color: none;
    display: none;
    &.current{
      display: block;
    }
  }

  .slide{
    width: 75%;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    img{
      display: inline-block;
      vertical-align: top;
      width: calc(100% - 2rem);
      margin-left: 1rem;
      margin-right: 1rem;
      margin-bottom: 2rem;
      &.quarter{
        width: calc(33.3% - 2rem);
      }
      &.half{
        width: calc(66.6% - 2rem);
      }
    }
  }
  ul{
    hyphens: auto;
    ul{
      margin-left: 2rem;
    }
  }

  .notes{
    position: fixed;
    right: 1rem;
    margin-top: 1rem;
    width: calc(25% - 3rem);
    display: inline-block;
    vertical-align: top;
  }
}

@media (max-width: 768px){
#presentation{
  .slide{
    width: 100%;
    img{
      width: calc(100% - 2rem);
      &.quarter{
        width: calc(100% - 2rem);
      }
      &.half{
        width: calc(100% - 2rem);
      }
    }
  }
  .notes{
    position: static;
    margin-top: 1rem;
    margin-left: 1rem;
    width: calc(100% - 2rem);
    display: inline-block;
    vertical-align: top;
  }
  footer{
    h2{
      &:hover{
        position: relative;
        cursor: pointer;
        background-color: auto;
        color: auto;
      }
    }
  }
}
}